@font-face {
	font-family: 'icomoon';
	src:url('https://jlalovi-cv.herokuapp.com/font/icomoon.woff');
	font-weight: normal;
	color: #20243F;
}
body{
	background-color: #20243F;
}
.button{
	border: none;
	background-color: #11A8AB;
	font-size: 16px;
    margin: 4px 2px;
	padding: 6px 22px;
	border-radius: 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button:hover{
	background-color: #0F9295;
}

.text_input{
	/*background-color : #50597B;*/
	margin-left: 20px;
	margin-bottom: 20px;
	padding-left: 45px;
	background: #50597b;
	color: #fff;
	border: solid 1px #1f253d;
	border-radius: 5px;
}

.rounded_div{
	font-family: icomoon;
	color: white;
	border-radius: 10px;
	background-color: #394166;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 45px;
	padding-right: 45px;
}
#search_bar{
	margin: 4px 2px;
	padding: 6px 22px;
	border-radius: 10px;
}
#top{
	width: 90%;
	margin-left: 5%;
	height: 100px;

}
#logo{
	display: inline-block;
	/*text-align: center;*/
	/*vertical-align: middle;*/
	width:10%;
	height: 100%;
}

#z_recherche{
	/*position: relative;*/
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: 79%;
	height: 100%;
}

#logout{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	margin: auto;
	width:10%;
	height: 100%;
}
#logout_btn{
	/*text-align: center;*/
	/*vertical-align: middle;*/
	margin-top: 15%;
}

/* corps de la page */
#corps_page{
	margin-top: 20px;
	width: 90%;
	margin-left: 5%;
}

#stats{
	float: left;
	margin-right: 10px;
	width:10%;
	height:100%;
}

#corps_messages{
	/*background-image: url("../ressources/div_bg.png");
	background-repeat: no-repeat;
	background-size: cover;*/
	display: inline-block;
	width: 89%;
	height: 100%;
}

#new_message{
	/*background-color: #9999ff;*/

	text-align: center;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-bottom: 10px;
}
#messages{
	margin-top: 20px;
	width: 100%;
	height: auto;
}
.message{

	margin-top: 5px;
	margin-bottom: 6px;
}
#new_message_input{
	width: 60%;
	height: auto;
	margin: 4px 2px;
	padding: 6px 22px;
	border-radius: 10px;
	/*background-color: inherit;*/
}
#new_message_btn{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}
