/* @font-face {
	font-family: 'icomoon';
	src:url('https://jlalovi-cv.herokuapp.com/font/icomoon.woff');
	font-weight: normal;
	color: #20243F;
} */
body{
	background-color: #FFFFFF;
	color: black;
}
.button{
	border: none;
	background-color: #11A8AB;
	font-size: 16px;
    margin: 4px 2px;
	padding: 6px 22px;
	border-radius: 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button:hover{
	background-color: #0F9295;
}

.text_input{
	/*background-color : #50597B;*/
	margin-left: 20px;
	margin-bottom: 20px;
	padding-left: 45px;
	background: #50597b;
	color: #fff;
	border: solid 1px #1f253d;
	border-radius: 5px;
}

.rounded_div{
	font-family: icomoon;
	color: white;
	border-radius: 10px;
	background-color: #394166;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 45px;
	padding-right: 45px;
}

#search_zone{
	width:auto;
	height: auto;
}
#search_bar{
	margin: 4px 2px;
	padding: 6px 22px;
	border-radius: 10px;
}
#top{
	width: 90%;
	margin-left: 5%;
	height: 100px;

}
#logo{
	display: inline-block;
	/*text-align: center;*/
	/*vertical-align: middle;*/
	width:10%;
	height: 100%;
}

#z_recherche{
	/*position: relative;*/
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 70%;
	height: 49%;
}
#log{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	margin: auto;
	width:19%;
	height: 100%;
}
#title{
	/*position: relative;*/
	padding-top: 20px;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
	height: 50%;
}
#follow{
	display: inline-block;
	text-align: center;
}
#login{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	margin: auto;
	width:100%;
	height: 49%;
}

#logout_btn{
	/*text-align: center;*/
	/*vertical-align: middle;*/
	margin-top: 10%;
}

/* corps de la page */
#corps_page{
	margin-top: 50px;
	width: 90%;
	margin-left: 5%;
}

#stats{
	display: inline-block;
	/* margin-right: 4%; */
	width:14%;
	height:100%;
}

/* pour profile */
.banniere{
	border-color: #E96512;
	border-width: 0px;
	border-style:outset;
	width: 100%;
	height: 160px;
}
.photo_de_profil{
	margin-top: 15px;
	margin-left: 45%;
	margin-right: 45%;
	text-align: center;
	background: transparent;
	border-color: white;
	border-width: 0 0 1px;
	border-style: solid;
}

#profile_pres{
	/* display: block; */
	display: inline-block;
	width: 100%;
	height: 300px;
	margin-top: 50px;
	margin-bottom: 80px;
	padding-top: 20px;
	text-align: center;
	background-color: #e6e6e6;
	/* border-radius: 5px; */
}

#profile_picture_div{
	width: 40%;
	height: 170px;
	margin-left: 30%;
	cursor: pointer;
}
#fileloader{
	visibility: hidden; 
	width: 0px; 
	height: 0px;
}
#profile_picture{
	width: 160px;
	height: 160px;
	border-radius: 50%;
	/* margin-left: 15%; */
}

#profile_info{
	background-color: white;
	width: 40%;
	height: auto;
	border-radius: 5px;
	margin-left: 30%;	
	padding-top: 20px;
	padding-bottom: 20px;
	/* border-width: 1px 1px 1px;
	border-style: solid;
	border-color: grey; */
	box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
	
}

#follow_btn{
	display: inline-block;
	border-radius: 5px;
	width: 100px;
	color: #f2f2f2;
	background: #0F9295;
	text-align: center;
	margin-top: 5px;
    padding: 8px;
    text-decoration: none;
}
#follow_btn:hover{
	background: #19e6e6;
}
#pres_name{
	font-size: 22px;
	color: #4d4d4d;
	/* text-shadow: 1px 1px Opx black; */
}
.pres_text{
	display: block;
	font-size: 16px;
	color: #666666;
}
/* connexionPanel */
#co_central{
	margin-top: 100px;
	align-items: center;
  	display: flex;
  	justify-content: center;
	width:100%;
}

#co_text_div{
	display: inline-block;
	width: 50%;
	vertical-align: middle;
}

#co_input_div{
	display: inline-block;
	width: 49%;
	vertical-align: middle;
}
.link{
	color: #11A8AB;
}
.co_span_link{
	vertical-align: middle;
	margin-left: 23%;
}
.co_span_text{
	width: 400px;
	height: 100%;
	vertical-align: middle;
	margin-bottom: 20px;
}
.rounded{
	font-family: icomoon;
	color: white;
	border-radius: 10px;
	background-color: #394166;

	padding-left: 45px;
	/*padding-right: 45px;*/
	padding-top: 20px;
	padding-bottom: 20px;
	width : 40%;

}
.co_text_input{
	height: 25px;
	width: 80%;
	/*margin-left: 20px;*/
	margin-bottom: 20px;
	padding-left: 15px;
	background: #50597b;
	color: #fff;
	font-size: 15px;
	border: solid 1px #1f253d;
	border-radius: 5px;
}

#insc_h1{
	font-family: Arial, "Times New Roman";
	font-weight: bold;
	color:white;
	text-align:center;
	text-shadow: 1px 1px Opx white;
}

/* messages */

#new_message{
	/*background-color: #9999ff;*/

	/* text-align: center; */
	padding-bottom: 5px;
	padding-top: 5px;
	margin-bottom: 10px;
}

#new_message_input{
	width: 50%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
	/* margin: 4px 2px; */
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 50px;
	border: solid;
	border-width: 1px;
	border-radius: 4px;
	color: black;
	border-color: #FFF;
	box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.08);
	box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.08);
	background-color: inherit;
	overflow: hidden;
	resize: none;
}
#new_message_btn{
	/* position: relative; */
	/* float: right; */
	z-index: 0;
	color: #f2f2f2;
	background: #0F9295;
	text-align: center;
	font-size: 16px;
	width: 120px;
	height: 40px;
	/* margin-top: 50px; */
	margin-left: 75%;
	transform: translate(-100%, -100%);
	border: none;
	border-radius: 2px;
	text-decoration: none;
	cursor: pointer;
}

#new_message_btn:hover {
	background: #19e6e6;
}

#messages{
	/* display: inline-block; */
	padding-top: 10px;
	padding-bottom: 20px;
	margin-top: 20px;
	/* text-align: center; */
	/* width: 50%; */
	height: auto;
}
#messages_container{
	margin-top: 10px;
	margin: 4px 2px;
}
.corps_message{
	height: auto;
	border-radius: 5px;
	background-color: #EEEEEE;
	margin-top: 20px;
	padding: 20px;
	padding-bottom: 30px;
}
.message{
	/* text-align: center; */
	/* align-content: center; */
	margin-left: auto;
	margin-right: auto;
	display: block; 
	width:50%;
}
.info_message{
	float: right;
	margin-right: 5px;
	margin-bottom: 10px;
	color: #11A8AB;
}
#charger{
	width: 20%;
	margin-left: 40%;
	margin-top: 15px;
	border-radius: 8px;
	background: #EEEEEE;
	font-size: 20px;
	color: #41A8AB;
	padding: 10px;
	display: block;
	text-align: center; 
	cursor: pointer;
}
#charger:hover{
	background: #CCC;
}
#delete_m{
	/* position: fixed;*/
	color: #aaa	;
	float: right;
	margin-right: 5px;
}
#delete_m:hover, #delete_m:focus{
	color: orangered;
	cursor: pointer;
}
#delete_c{
	/* position: fixed;*/
	color: #aaa	;
	float: right;
	margin-top: -15px;
	margin-right: -15px;
}
#delete_c:hover, #delete_c:focus{
	color: orangered;
	cursor: pointer;
}
/* commentaires */
.commentaire{
	width: 97%;
	height: auto;
	border-radius: 5px;
	background-color: #EEEEEE;
	margin-left: 3%;
	margin-top: 20px;
	padding: 20px;
	padding-bottom: 30px;
}

#new_com{
	width: auto;
	height: auto;
	border-radius: 5px;
	background-color: inherit;
	/* margin-left: 3%; */
	margin-top: 8px;
	margin-bottom: 8ps;
	/* padding-left: 0px; */
	padding-bottom: 30px;
}
#new_com_input{
	width: 100%;
	height: auto;
	/* margin-left: auto; */
	/* margin-right: auto; */
	display: block;
	/* margin: 4px 2px; */
	padding-top: 8px;
	padding-right: 20px;
	padding-left: 20px;
	/* padding-bottom: 8px; */
	border: solid;
	border-width: 1px;
	border-radius: 4px;
	color: black;
	border-color: #FFF;
	box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.08);
	box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.08);
	background-color: inherit;
	overflow: hidden;
	resize: none;
}
#new_com_submit{
	display: block;
	color: #f2f2f2;
	background: #0F9295;
	text-align: center;
	font-size: 16px;
	width: 120px;
	height: 30px;
	margin-top: 5px;
	/* margin-left: 0%; */
	float: right;
	/* transform: translate(-100%, -100%); */
	border: none;
	border-radius: 2px;
	text-decoration: none;
	cursor: pointer;
}
#new_com_submit:hover {
	background: #19e6e6;
}
.show_comments{
	margin-top: 10px;
	margin-bottom: 4px;
	margin-left: auto;
	margin-right: auto;
	display: block; 
	/* width: 50%; */
	height: 15px;
	background-color: #EEEEEE;
	cursor: pointer;
	/* float: right;
	display: flex; */
}
#developpe_comments{
	font-size:20px;
	height: 10px;
	color:grey;
	transform: translate(0, -60%);
	margin-right: auto;
	margin-left: 48%;
}
#hide_comments{
	font-size:20px;
	height: 10px;
	color:grey;
	transform: translate(0, 30%);
	margin-right: auto;
	margin-left: 48%;
}
/*
.comment_sec p{
	overflow: hidden;
	max-height: 0em;
}
.comment_sec:active p{
	overflow: visible;
	max-height: 20em;
}
*/
/* navigation bar */
/* The navigation bar */
.navbar {
	height: 50px;
    overflow: hidden;
	background-color: #333;
	z-index: 1;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
	/* margin-bottom: 250px; */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
	text-align: center;
	/* vertical-align: -webkit-baseline-middle; */
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

#login_m_btn{
	float: right;
    display: block;
	color: #f2f2f2;
	background: #0F9295;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#login_m_btn:hover {
	background: #19e6e6;
}
#radio_div{
	width: 120px;
	height: 50px;
	float: right;
}
#radio{
	height: 25px;
	text-align: justify;
	width: 100%;
	padding: 4px;
}
#radio:hover{
	background: #0F9295;
}
#follow_m_btn{
	float: right;
    display: block;
	color: #f2f2f2;
	background: #0F9295;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#follow_m_btn:hover{
	background: #19e6e6;
}
#m_search_bar{
	width: 300px;
	height: 50px;
	background: transparent;
	border: 1px solid #50597b;
	font-size: 10pt;
	float: right;
	/* color: #63717f; */
	padding-left: 45px;
	margin-right: 2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
  }


/* affiachage des messages d'erreur */
#message_erreur_div{
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
	color: red;
}

/* login modal */
.modal_btn{
	/* float: right; */
    display: block;
	color: #f2f2f2;
	background: #0F9295;
	text-align: center;
	font-size: 16px;
	width: 80%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 14px 16px;
	border: none;
	border-radius: 2px;
	text-decoration: none;
	cursor: pointer;
	-webkit-transition-duration: 0.4s; /* Safari */
}
.modal_btn:hover{
	background: #19e6e6;
}
#modal_link{
	width: 80%;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10px;
}
.modal{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	/* overflow: auto; */
	background: rgba(0, 0, 0, 0.4);
}
/* registerPanel */
.insc_form{
	background-color: #FFFFFF;
	margin: 10% auto;
	padding: 20px;
	width: 30%;
	height: 40%;
	border: solid;
	border-color: #CCC;
	border-width: 1px;
	box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.08)
}
#modal_btn_div{
	margin-left: 10%;
	width: 80%;
}
.modal_top_btn{
	display: block;
	text-align: center;
	font-weight: bold;
	width: auto;
	color: #888888;
	font-size: 20px;
} 
.modal_top_btn:hover{
	cursor: pointer;
	color: #0F9295;
}
.modal_span{
	display: inline-block;
	width: 49%;
}
.insc_button{
	color: #f2f2f2;
	background: #0F9295;
	text-align: center;
	font-size: 16px;
	width: 100%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 14px 16px;
	border: none;
	border-radius: 2px;
	text-decoration: none;
	cursor: pointer;
	-webkit-transition-duration: 0.4s; /* Safari */
}
.insc_button:hover{
	background: #19e6e6;
}



.modal_content{
	background-color: #EEEEEE;
	margin: 10% auto;
	padding: 20px;
	width: 40%;
	height: 45%;
	box-shadow: 0 5px 0 8px rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.12);
}
#login_form{
	margin: 10% auto;
}
.close_btn{
	/* position: fixed;*/
	color: #ccc;
	float: right;
}
.close_btn:hover, .close_btn:focus{
	color: #000;
	cursor: pointer;
}

.modal_input{
	color: #000;
	/* text-align: center; */
	border-color: rgba(0, 0, 0, 0.2);
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	height: 40px;
	width: 80%;
	padding: 20px;
	margin-left: 10%;
	margin-top: 10px;
	background-color: #fff;/*rgba(0, 0, 0, 0.05); */
}

#search_result{
	/* text-align: center; */
	/* width: 80%; */
	display: block;
	/* margin-left: auto;
	margin-right: auto; */
}
#notfound{
    width: 90px;
    font-size: 42px;
    height: px;
    text-align: center;
    /* padding: 30px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    display: block;
    box-shadow: 0 5px 0 8px rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.12);
	color: #0F9295;
	cursor: pointer;
}
.user{
	/* width: 100%; */
	/* width: 300px; */
	/* margin-left: 10%;
	margin-right: 10%;	 */
	/* background: #ccc; */
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	display: block;
	cursor: pointer;
	padding-right: 10px;
}
.user:hover{
	background: #EEE;
	padding-right: 20px;
	padding-left: 20px;
	
}

.user_info{
	/* width: 70%; */
	display: inline-flex;
	vertical-align: middle;
	padding-top: 6px;
	height: 80px;
	font-size: 20px;
	color: #0F9295;/*#333;*/
}
/* .user_name{
	margin-bottom: 20px;
} */
.user_picture{
	display: inline-flex;	
	width: 80px;
	height: 80px;
}
.search_picture{
	width:60px;
	height: 50px;
	margin-top: 15px;
	margin-bottom: 15px;
}